name: Tests

on: push

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 'lts/gallium'
      - name: Retrieve the cached "node_modules" directory (if present)
        uses: actions/cache@v2
        id: node-cache
        with:
          path: node_modules
          key: node-modules-${{ runner.os }}-${{ hashFiles('package-lock.json') }}
      - name: Install dependencies (if the cached directory was not found)
        if: steps.node-cache.outputs.cache-hit != 'true'
        run: npm ci
      - name: lint
        run: npm run lint
  storybook-tests:
    name: Storybook Tests
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Node.js
      uses: actions/setup-node@v2
    - name: Retrieve the cached "node_modules" directory (if present)
      uses: actions/cache@v2
      id: node-cache
      with:
        path: node_modules
        key: node-modules-${{ runner.os }}-${{ hashFiles('package-lock.json') }}
    - name: Install dependencies (if the cached directory was not found)
      if: steps.node-cache.outputs.cache-hit != 'true'
      run: npm ci
    - name: Install Playwright
      run: npx playwright install
    - name: Run Tests
      id: storybookTests
      run: npm run test-storybook:ci
    - name: Archive visual test diffs
      uses: actions/upload-artifact@v3
      if: always() && (steps.storybookTests.outcome == 'failure')
      with:
        name: visual-test-diffs
        path: __snapshots__